#randomProjects {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

#aboutMe h3 {
    font-size: 1.2rem;
    text-decoration: underline;
}

#aboutMe p{
    font-size: 0.7rem;
}

#pImg1, #pImg2, #pImg3, #pImg4 {
    height: 5.3rem;
}
.info h3 {
    font-size: 1rem;
} 

.info {
    font-size: 0.6rem;
}






